
<div class="col-md-12">
    <div class="panel panel-visible" id="spy6">
        <div class="panel-heading">
            <div class="panel-title hidden-xs">
                Search Bar Filtering
            </div>
        </div>
        <div class="panel-body pn">
            <div class="table-responsive">
                <table class="table table-striped table-hover" id="datatable2" cellspacing="0"
                       width="100%">
                    <thead>
                        <tr>
                            <th class="va-m">Id</th>
                            <th class="va-m">Product Name</th>
                            <th class="va-m">Description</th>
                            <th class="hidden-xs va-m">Price(PHP)</th>
                            <th class="hidden-xs va-m">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var product in Model.Products)
                        {
                            <tr>
                                <td>@product.Id</td>
                                <td>@product.Name</td>
                                <td class ="hidden-xs">@product.Description</td>
                                <td>@product.SellingPrice</td>
                                <td><a href="@Url.Action("Edit","Product", new { @product.Id, @product.Name })">Edit</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

